@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3F3E3;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.multistep-actions {
  border-top: 1px solid #E5E7EB;
  padding-top: 2rem;
  margin-top: 2.625rem;
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}